<?xml version="1.0"?>
<config>
    <modules>
        <RozetkaPay_RozetkaPay>
            <version>1.0.0.0</version>
        </RozetkaPay_RozetkaPay>
    </modules>
    <global>
        <models>
            <rozetkapay_rozetkapay>
                <class>RozetkaPay_RozetkaPay_Model</class>
                <resourceModel>rozetka_resource</resourceModel>
            </rozetkapay_rozetkapay>
        </models>
        <blocks>
            <rozetkapay_rozetkapay>
                <class>RozetkaPay_RozetkaPay_Block</class>
            </rozetkapay_rozetkapay>
        </blocks>
        <helpers>
            <rozetkapay_rozetkapay>
                <class>RozetkaPay_RozetkaPay_Helper</class>
            </rozetkapay_rozetkapay>
        </helpers>
        <resources>
            <rozetkapay_rozetkapay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rozetkapay_rozetkapay_write>
            <rozetkapay_rozetkapay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rozetkapay_rozetkapay_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <rozetkapay_rozetkapay>
                <use>standard</use>
                <args>
                    <module>RozetkaPay_RozetkaPay</module>
                    <frontName>rozetkapay</frontName>
                </args>
            </rozetkapay_rozetkapay>
        </routers>
        <translate>
            <modules>
                <RozetkaPay_RozetkaPay>
                    <files>
                        <default>RozetkaPay_RozetkaPay.csv</default>
                    </files>
                </RozetkaPay_RozetkaPay>
            </modules>
        </translate>
        <layout>
            <updates>
                <rozetkapay_rozetkapay module="RozetkaPay_RozetkaPay">
                    <file>rozetkapay_rozetkapay.xml</file>
                </rozetkapay_rozetkapay>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rozetkapay_rozetkapay before="Mage_Adminhtml">RozetkaPay_RozetkaPay_Adminhtml</rozetkapay_rozetkapay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <rozetkapay_rozetkapay>
                        <type>singleton</type>
                        <class>RozetkaPay_RozetkaPay_Model_Observer</class>
                        <method>addRozetkaPayButton</method>
                    </rozetkapay_rozetkapay>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <translate>
            <modules>
                <RozetkaPay_RozetkaPay>
                    <files>
                        <default>RozetkaPay_RozetkaPay.csv</default>
                    </files>
                </RozetkaPay_RozetkaPay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <rozetkapay_rozetkapay>
                <model>rozetkapay_rozetkapay/method_payment</model>
                <active>1</active>
                <title>Rozetka Pay</title>
                <sort_order>0</sort_order>
            </rozetkapay_rozetkapay>
        </payment>
    </default>
</config>